<div class="row">
  <div>
    <label for="">Add a name</label>
    <input type="text" class="form-control" (input)="onAddName($event)" />
    <label for="">Add a model</label>
    <input type="text" class="form-control" (input)="onAddModel($event)" />
    <label for="">Add a color</label>
    <input type="text" class="form-control" (input)="onAddColor($event)" />

    <hr />

    <button class="btn btn-primary" (click)="onSubmitCar()">Add a car</button>

    <div>{{ name }}</div>
  </div>
  <!-- <div
    (click)="alertOnClick($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    Click Me!!
  </div>
  <hr />
  <div>{{ status }}</div> -->
</div>
